<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <h1>ToDo</h1>
    <form action="/todos" method="post">
        <input type="text" name="title" placeholder="Title" required> <br>
        <textarea name="content" id="content" placeholder="Content"></textarea> <br>
        <button type="submit">Submit</button>
    </form>
    <br><hr>

    <h2>ToDo List</h2>
    <div class="todoContainer">
        <% todos.forEach((todo,index) => { %>
            <div class="todoClass">
                <h3><%= todo.title %></h3>
                <p><%= todo.content %></p>

                <form action="/todos/<%= index %>?_method=DELETE" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
        <% }); %>

    </div>



</body>
</html>
