body{
    height: 100vh;
    width: 100vw;
    background-color: #212121;
    color: whitesmoke;
    font-family: monospace;
}

input{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

textarea{
    font-size: 1rem;
    text-align: center;
    margin-bottom: 1rem;
}

h1{
    color: lightblue;
}

.container{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: lightblue 1px solid;
    padding: 1rem;
}

button{
    font-size: 1rem;
    padding: 0.5rem;
    text-align: center;
    margin-left: 4rem;
}


.todoClass{
    border: lightblue 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.dropdown{
    margin-left: 2rem;
    margin-bottom: 1rem;
}
